body {
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  background-color: #ff7979;
  height: 100vh;
  max-width: 1440px;
}

.container {
  background-image: url("/images/bg-intro-desktop.png");
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0px 30px;
}

.left-part {
  width: 500px;
  color: white;
  margin-right: 30px;
}

.left-header {
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
  padding-bottom: 25px;
}

.left-text {
  font-size: 16px;
  line-height: 26px;
}

.right-part {
  width: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.top-right {
  color: white;
  background-color: #5e54a4;
  padding: 15px 0px;
  border-radius: 8px;
  font-weight: 400;
  box-shadow: 0px 5px 0px 0px rgb(0 0 0 / 20%);
  width: 87%;
  text-align: center;
  margin-bottom: 20px;
}

.top-right span {
  color: white;
  font-weight: 700;
}

.login-part {
  display: flex;
  flex-direction: column;
  max-width: 55vh;
  background-color: white;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0px 5px 0px 0px rgb(0 0 0 / 20%);
  align-items: center;
  position: relative;
}

.inputs {
  width: 90%;
  padding: 20px 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.inputs input {
  width: 87%;
  padding: 20px 25px;
  border-radius: 4px;
  border: 0.25px solid #dedede;
}

.inputs img {
  position: absolute;
  right: 10%;
}

.img-name {
  display: none;
}

.img-last {
  display: none;
}

.img-mail {
  display: none;
}

.img-pass {
  display: none;
}

.inputs p {
  margin: 5px;
  text-align: end;
}

.create-acc {
  width: 90%;
}

.create-acc button {
  width: 100%;
  padding: 20px 0px;
  color: white;
  background-color: #38cc8b;
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
  border-color: #38cc8b;
  border-style: none;
  cursor: pointer;
}

.create-acc button:hover {
  background-color: #77e2b3;
}

.w-name {
  display: none;
}
.w-last {
  display: none;
}

.w-mail {
  display: none;
}

.w-pass {
  display: none;
}

.last-p {
  margin: 15px 0px;
  font-size: 11px;
  color: #bab7d4;
}

.last-p span {
  color: #ff7979;
  font-weight: 700;
}

.error-img {
  display: block;
  position: absolute;
  right: 10%;
  top: 7%;
}

.error-p {
  display: block;
  color: #ff7979;
}

.dis {
  display: block;
}

@media (width: 375px) {
}
